.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    column-gap: 30px;
    margin-right: 5px;
    padding:10px 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.regular-btn{
    background-color: #e2b542;
    color: black;
    width: 200px;
    padding:5px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}